<div class="white">
	<div class="container">
		<h1>HealthyWorkers</h1>
		<div class="projects">
			<iframe src="https://player.vimeo.com/video/167265377" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

		<p><%= t 'project.healthyworkers' %></p>
		<p><%= t 'project.healthyworkers_p2' %></p>
		<p><%= t 'project.healthyworkers_p3' %></p>

		<%= link_to(t('knop.bezoek2'), "http://rubyrubyruby.com", class: "btn btn-danger pull-right") %>
	</div>
</div>