<div class="project_banner">
  <a id="seemore" href="#" class="btn btn-default">See All Projects!</a>
</div>
<div class="white">
<div class="container">
  <h1>Projects 2016</h1>
  <div id="new" class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card">
      <img class="card-img-top" src="<%= image_path('rubyrubyruby.png') %>" />
        <div class="card-block">
          <h4 class="card-title">RubyRubyRuby</h4>
          <p class="card-text">During my time as a student of Le Wagon Coding school. I've Developed a vacancy website especially made for Ruby developers.</p>
          <%= link_to "Check It", projects_rubyrubyruby_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card">
      <img class="card-img-top" src="<%= image_path('healthyworkers.png') %>" />
      <div class="card-block">
        <h4 class="card-title">Healthy Workers</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "Check It", projects_healthyworkers_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
</div>
</div>