// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body { 
  background: url('album_1.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner {
  background: transparent;
  width: 100%;
  background-size: cover;
  height: 90vh;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}


.welcome {
  color: white;
  font-weight: bold;
}

.icons li {
  justify-content: center;
  font-size: 80px;
  margin: 10px 20px;
  display: inline-block;

}

.div_icons {
  height: 400px;
  justify-content: space-between;
  text-align: center;
}



.grey {
  background-color: #E1E1E1;
  -webkit-margin-bottom: 0px;
  min-height: 70px;
  -webkit-min-height: 70px;
  text-align: center;
  max-height: 320px;
  padding-top: 5px;
}

.white {
  padding-top: 5px;
  width: 100%;
  background-color: white; 
  margin:0px; 
  min-height: 70px;
  text-align: center;
}


#tools {
 
}
.cent {
  text-align: center;
  min-height: 70px;
}

.black_space {
	width: 100%;
	background-color: black;
	height: 100px;
}

.transparant {
  color: transparent;
}