// Place all the styles related to the my controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
.pic {
  background-color: rgb(15, 130, 224);
  box-shadow: 2px 2px 4px;
}
.pad {
  padding: 90px;
  justify-content: center;
}

.profilepic{
  width: cover;
  margin-right: 15px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.em {
  font-style: italic;
}


.center {
  text-align: center;
}

.pull-right {
  position: relative;
}

.logol {
  max-width: 30px;
  max-height: 30px;
}


.black {
  background-color: black;
}

#sheet {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 100px;
}

.space {
  height: 150px;
}

h3 {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
.iconss {
  font-size: 80px;
}

.col-content {
  align-content: center;
  text-align: center;
}
.pinfo {
  color: black;
  padding-right: 70px;
  /*text-align: center;*/
}

.pinfo-a li {
  list-style-type: none;
}
a.remove_link {
  color: black;
}

.link1 {
  color: black;
}
.link1:hover {
  text-decoration: none;
  color: black;

}
.container p {
  
}

.ruimte {
  margin-top: 20px;
}